@charset "UTF-8";

@font-face {
font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  src: url("../fonts/PN_3Rfi-oW3hYwmKDpxS7F_z-9LZxnthzY0SO7Jj27F-wOe3JI_cmfgf-Q.0.woff2") format("woff2");
    unicode-range: U + f9ca-fa0b, U + ff03-ff05, U + ff07, U + ff0a-ff0b, U + ff0d-ff19, U + ff1b, U + ff1d, U + ff20-ff5b, U + ff5d, U + ffe0-ffe3, U + ffe5-ffe6;
}

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaCyrillicBold.ttf") format("truetype"),
       url("../fonts/FuturaCyrillicBook.ttf") format("truetype"),
       url("../fonts/FuturaCyrillicDemi.ttf") format("truetype"),
       url("../fonts/FuturaCyrillicExtraBold.ttf") format("truetype"),
       url("../fonts/FuturaCyrillicHeavy.ttf") format("truetype"),
       url("../fonts/FuturaCyrillicLight.ttf") format("truetype"),
       url("../fonts/FuturaCyrillicMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    color: #000;
    font-family:"Nanum Gothic","游ゴシック体", "YuGothic","メイリオ","Zen Maru Gothic", serif;
    font-weight: 300;
    font-size: 1.6em;
    line-height: 2.4rem;
    letter-spacing: 1px;
    background-color: #fff;
    box-sizing:border-box;
  }

body .futura {
   font-family: "FuturaPT", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

  img {
  max-width:100%;
  height:auto;
  }

  h1 {
    font-size: 24px;
    text-align: center;
    align-items: center;
    margin: 22vh auto;
  }
  h2 {
    text-align: center;
    font-size: 18px;
    margin: 50px 0;
  }
  h3 {
    font-size: 16px;
    letter-spacing: .03em;
}

  h4 {
    font-size: 1.2vw;
    padding: 4vw 0 0 0;
    text-align: center;
  }
  @media (max-width: 767px) {
    h3 {
      font-size: 15px;
    }
    h4 {
      font-size: 2.8vw;
      letter-spacing: 0.2em;
      padding: 12vw 0 0 0;
    }
    .works .wrapper {
      padding: 0 12vw;
      }
  }

  p {
    font-size: 0.6em;
    line-height: 2em;
  }

  .about,.works,.the9pieces {
    padding: 5vw 3vw;
  }

  .the9pieces {
    padding-top: 10vw;
  }

  .misaki {
  top: 3vw;
  left: 5vw;
  position: fixed;
  font-size: 1vw;
  z-index: 100;
  }

.wrapper {
  margin: 0 auto;
  padding: 0 3vw;
 
}

small {
  font-size: 1vw;
  font-size: 1vw;
  width: 90vw;
  text-align: end;
  align-content: center;
  letter-spacing: 0.15em;
}
.menu {
  color: #888;
}

.menu:hover {
  color: #000;
}
.compe-flex {
  display: flex;
  gap:10px;
  align-items: center;
}

.compe {
  font-size: 0.4em;
  padding: 2px 15px;
  border: solid 1px;
  border-radius: 20px;
  text-align: center;
  line-height: 1.583;
  color: #fff;
  background-color: #e94846;
  width: 80px; 
}

.topbar {
    position: sticky;
    top: 0;
    background: #ffffffcc;
    backdrop-filter: blur(4px);
    border-bottom: 1px solid #eee;
    z-index: 10;
}
.topbar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    width: min(100%, 900px);
    margin: 0 auto;
}
.brand {
    font-size: 18px;
    font-weight: 600;
}
.nav a {
    margin-left: 24px;
    font-size: 14px;
    opacity: 0.8;
}


footer {
  padding: 5vh 0;
}
.footer-flex {
  display: flex;
}
.footer-flex li a {
  display: flex;
}
.icon {
  width: 1.3vw;
  padding: 1vw;
}
.icon-p {
  font-size: 0.8vw;
  align-content: center;
  letter-spacing: 0.15em;
}



@media (max-width: 767px) {
  .menu {
    position: fixed;
    width: 100vw;
    height:100vh;
    top:0;
    left:0;
    z-index: 999;
    background-color: #fff;
    display: flex;
    gap:3vw;
    flex-flow: column;
    padding-left: 20vw;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
  }

  .menu.is-active {
    opacity: 1;
    visibility: visible;
  }

  .menu-sns {
    display: flex;
    padding-top: 13vw;
  }

.menu a {
  color:#000;
}

.menu.is-active {
  display: flex;
  transition: .5s;
}

.header_toggle {
  position: fixed;
  width: 50px;
  height: 50px;
  cursor: pointer;
  right: 5vw;
  top:1.5vw;
  z-index: 9999;
}
.header_toggle.is-active span:nth-of-type(1) {
  top:22px;
  left:6px;
  transform: rotate(45deg);
}
.header_toggle.is-active span:nth-of-type(2) {
  top:22px;
  left:6px;
  transform: rotate(-45deg);
}

.header_toggle span {
  display: inline-block;
  transition: all.4s;
  position: absolute;
  left: 6px;
  height:1px;
  background-color: #000;
}

.header_toggle span:nth-of-type(1){
  top:22px;
  width:75%;
}

.header_toggle span:nth-of-type(2){
  top:29px;
  width:75%;
}

.misaki {
  font-size: 2.2vw;
}
.icon {
  width: 4vw;
}
.icon-p {
display: none;
}
small {
  font-size: 2vw;
}
}

@media (min-width: 767px) {
  .menu {
    position: fixed;
    right: 5vw;
    top:3vw;
    z-index: 100;
  }
  .menu a {
    padding-right:2vw;
    font-size: 1vw;
  }
  .menu-sns {
    display: none;
  }
  
.footer-flex {
  gap:3vw;
}
}

